*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.webm  binary
*.ogg   binary
*.webp  binary
*.ico   binary
*.icns  binary
*.ttf   binary
*.eot   binary
*.woff  binary
*.woff2 binary
*.otf   binary
