:root {
  --color-gold-1: #f0e6d2;
  --color-gold-2: #cdbe91;
  --color-gold-3: #c8aa6e;
  --color-gold-4: #c89b3c;
  --color-gold-5: #785a28;
  --color-gold-6: #463714;
  --color-gold-7: #32281e;

  --color-blue-1: #cdfafa;
  --color-blue-2: #0ac8b9;
  --color-blue-3: #0596aa;
  --color-blue-4: #005a82;
  --color-blue-5: #0a323c;
  --color-blue-6: #0a1428;

  --color-grey-1: #a09b8c;
  --color-grey-2: #5b5a56;
  --color-grey-3: #3c3c41;
  --color-grey-4: #1e2328;

  --color-grey-gold: #3c3732;
  --color-grey-blue: #a3c7c7;
  --color-grey-frame: #1e282d;
  --color-grey-frame50: rgba(30, 35, 40, 0.5);
  --color-grey-disabled: #5c5b57;

  --color-ip-1: #1e825a;
  --color-ip-2: #00a741;

  --color-paladin-1: #0a96aa;
  --color-paladin-2: #0acbe6;

  --color-mage-1: #be1e37;
  --color-mage-2: #ff2345;

  --color-experience: #643c5a;
  --color-me: #fabe0a;
  --color-black: #010a13;
}
