@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/Spiegel-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: normal;
  src: url(../assets/fonts/Spiegel-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/Spiegel-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/Spiegel-RegularItalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: italic;
  src: url(../assets/fonts/Spiegel-SemiBoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/Spiegel-BoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/BeaufortForLoL-Light.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/BeaufortForLoL-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: normal;
  src: url(../assets/fonts/BeaufortForLoL-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/BeaufortForLoL-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: normal;
  src: url(../assets/fonts/BeaufortForLoL-Heavy.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: italic;
  src: url(../assets/fonts/BeaufortForLoL-LightItalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/BeaufortForLoL-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: italic;
  src: url(../assets/fonts/BeaufortForLoL-MediumItalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/BeaufortForLoL-BoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: italic;
  src: url(../assets/fonts/BeaufortForLoL-HeavyItalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL ESport';
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/shentox-light.ttf) format('truetype');
}

@font-face {
  font-family: 'LoL ESport';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/shentox.ttf) format('truetype');
}

@font-face {
  font-family: 'LoL ESport';
  font-weight: 600;
  font-style: normal;
  src: url(../assets/fonts/shentox-semibold.ttf) format('truetype');
}
