@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/Spiegel-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/Spiegel-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/Spiegel-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/Spiegel-RegularItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/Spiegel-SemiBoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/Spiegel-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-Medium.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: normal;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-LightItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-Italic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-MediumItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-BoldItalic.woff2')
    format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: italic;
  src: url('/assets/app/fonts/woff2/BeaufortForLoL-HeavyItalic.woff2')
    format('woff2');
}
