@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Spiegel-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: normal;
  src: url('./assets/fonts/Spiegel-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Spiegel-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/Spiegel-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: italic;
  src: url('./assets/fonts/Spiegel-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/fonts/Spiegel-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/BeaufortForLoL-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/BeaufortForLoL-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/BeaufortForLoL-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/BeaufortForLoL-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: normal;
  src: url('./assets/fonts/BeaufortForLoL-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: italic;
  src: url('./assets/fonts/BeaufortForLoL-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/BeaufortForLoL-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: italic;
  src: url('./assets/fonts/BeaufortForLoL-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/fonts/BeaufortForLoL-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: italic;
  src: url('./assets/fonts/BeaufortForLoL-HeavyItalic.woff2') format('woff2');
}
